body {
    margin: 0;
    font-family: sans-serif;
}

main {
    max-width: 700px;
    margin: 100px auto;
    padding: 20px;
}

button {
    padding: 12px 20px;
    font-size: 16px;
    cursor: pointer;
}

#question {
    margin-top: 40px;
    font-size: 24px;
    cursor: pointer;
}